html {
    text-align: center;
    background-image: url("https://wallpapercave.com/wp/doAHAI6.jpg")
}
h1  {
    font-family: Helvetica;
    font-size: 100px;
    color: white;
    opacity: 0.8;
}
h2 {
    font-family: Helvetica;
    font-size: 70px;
    color: white;
    opacity: 0.7;
}
h1, h2 {
    background-color: black;
}
table {
    border: 2px solid rgb(6, 6, 78);
    background-color: rgb(3, 3, 87);
    opacity: 0.75;
    color: white;
    width: 800px;
}
.top {
    font-weight: bold;
}
.center {
    margin-left: auto;
    margin-right: auto;
}